<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Bachelor Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <script src="js/libs.js"></script>
    </head>

    <body>
        <!-- App Frame -->
        <div id="app">

            <h1>Hello world :)</h1>

        </div>

        <!-- Init app -->
        <script src="js/app.js"></script>
    </body>

</html>
